
header#Cabezal{
    position: sticky;
    top: 0;
    width: 100%;
    height: 67px;
    background-color: var(--Fondo_Header);
    display: flex;
    align-items: center;
}

main#Principal{
    position: relative;
    width: 100%;
    height: 87%;
    background-color: var(--Fondo_Main);
    top: 5px;
    margin: 0 auto !important;
    /* Otros */
    overflow: auto;
}

main#Principal::-webkit-scrollbar{   width: 7px;    }
main#Principal::-webkit-scrollbar-thumb{   background-color: black; color: black; border-radius: 1px;     }

header#Cabezal > div.PRINCIPAL__Cabezal{
    background-color: var(--Fondo_PRINCIPAL_Cabezal);
    position: relative;
    width: 100%;
    height: 40px;
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.LOG__Principal_Cabezal{
    position: absolute;
    background-color: var(--Fondo_LOG__Principal_Cabezal);
    width: 200px;
    height: 100%;
    left: 10%;
    border: 1px solid var(--Fondo_LOG__Principal_Cabezal);
    display: flex;
    align-items: center;
    /* transition: .3s ease-in-out; */
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.LOG__Principal_Cabezal:hover{
    border: 1px solid white;
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.LOG__Principal_Cabezal > label.C_Letra{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.LOG__Principal_Cabezal > label.El_resto_de_letras{
    /* position: relative; */
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
    bottom: 0;
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.BarraBuscadora__Principal_Cabezal{
    position: relative;
    width: 40%;
    height: 100%;
    top: 0 !important;
    background-color: var(--Fondo_BarraBuscadora__Principal_Cabezal);
    margin: 0 auto !important;
    /* border-radius: 10%; */
    border: 2px solid white;
    /* Centreando items */
    display: flex;
    align-items: center;
    justify-content: center;
}

header#Cabezal > div.PRINCIPAL__Cabezal > div.BarraBuscadora__Principal_Cabezal > input.Input__
{
    border: none;
    height: 80%;
    width: 90%;
    background-color: var(--Fondo_Input__);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1.4px;
}

:root{
    --Fondo_Header: #312f2f;
    --Fondo_Main: transparent;
    --Fondo_PRINCIPAL_Cabezal: transparent;
    --Fondo_LOG__Principal_Cabezal: transparent;
    --Fondo_BarraBuscadora__Principal_Cabezal: transparent;
    --Fondo_Input__: transparent;
}
